*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial;
}
body{
    background-color: #111;
    color: aliceblue;
    min-height:100vh;
}
header{
    padding:20px;
    text-align:center;
}
h1{
    margin-bottom: 20px;
}
.search-box{
    display:flex;
    justify-content: center;
    gap: 10px;
}
input{
    width:300px;
    padding:10px;
    border:none;
}
button{
    cursor:pointer;
    padding:10px 2opx;
}
